<% locales = { 
  #path: "pages.landing_workshops",
  colors: {
    logo_color: "white",
    # primary_background: "goldish-300",
    # secondary_background: "white",
    # primary: "roman",
    # text: "clover-600",
    # title: "clover-700",
    # primary_button: "btn btn-primary",
    # hero_text: "hippie-500"
  },
  #hero_right_content: "entrepreneur_video"
} %>

<div class="h-screen ">
  <section class="relative bg-cover w-full h-1/3 bg-center" style="background-image:linear-gradient(180deg, rgba(3, 10, 3, 0.64) -6.12%, rgba(3, 10, 3, 0) 122.24%), url('<%= @workshop.image_url %>');">
    <div class="w-full ">
      <%= render "shared/navbar", locales: locales %>
    </div>
    <div class="bg-white absolute z-50 -bottom-0 px-8 py-6 rounded-t-xl" style="left:45%; width:35%">
      <h1 class="h3 mt-2 text-clover-900">
        <%= @workshop.name %>
      </h1>
      <p class="mt-1">Avec<span class="font-medium"> <%= @workshop.user.full_name %></span></p>
      <div class="absolute w-5/6 bottom-0 left-2/4">
        <hr class=" relative -left-1/2 mx-auto">
      </div>
    </div>
  </section>

  <section class="relative linear-background">
    <div class="w-1/5 absolute mt-24 flex flex-col" style="left:15%;">
      <div class="flex items-center justify-start">
        <%= render_svg "icons/calendar", styles:"h-4 w-4" %>
        <p class="font-semibold ml-4"><%= l(@workshop.start_date, format: '%d %B %Y - %Hh%M' ) %></p>
      </div>
      <div class="flex mt-4 items-center justify-start">
        <%= render_svg "icons/location", styles:"h-4 w-4" %>
        <p class="font-semibold ml-4"><%= @workshop.address %></p>
      </div>
      <div class="flex mt-4 items-center justify-start">
        <%= render_svg "icons/clock", styles:"h-4 w-4" %>
        <p class="font-semibold ml-4"><%= @workshop.duration % 7 == 0 ? "1 journée" : "1/2 journée" %></p>
      </div>
      
      <div class="mt-24">
        <p class="text-lg font-semibold ">Places disponibles: <%= @workshop.capacity - @workshop.users.size %></p class="text-lg ">
        <p class="mt-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
      </div>
    </div>

    <div class="bg-white absolute -top-1 px-8 py-6 rounded-b-xl shadow" style="left:45%; width:35%">
      <h3 class="mt-2 ">Au programme</h3>
      <p class="text-base mt-4  text-gray-500">
        <%= @workshop.body %>
      </p>
      <h3 class="mt-8">À la fin vous repartez avec:</h3>
      <p class="text-base mt-4 text-gray-500">
        <%= @workshop.value_added %>
      </p>
      <div class="mt-8">
        <%= link_to "S'inscrire", workshop_workshop_bookings_path(@workshop), method: :post, class: "btn btn-primary btn-expanded" %>
      </div>
    </div>
  </section>
</div>
<section class="mx-auto">
  <hr class="bg-clover-800 w-5/6 mx-auto">
  <h3 class="mt-6 text-center">Découvrez nos autres ateliers</h3>
  <div class="pt-16 pb-32 grid grid-cols-2 gap-8 w-4/6 mx-auto">
    <% @workshops.each do |workshop| %>
      <div class="bg-white shadow rounded-xl overflow-hidden m-4 min-h-full">
        <div class="h-52 bg-cover bg-center" style="background-image:url('<%= workshop.image_url %>');"></div>
        <div class="h-1/2 px-4 py-4 text-center flex flex-col items-center justify-center">
          <p class="">Avec<span class="font-medium"> <%= workshop.user.full_name %></span></p>
          <p class="h3 mt-2"><span><%= workshop.name %></span></p>
        </div>
      </div>
    <% end %>
  </div>
</section>







