<div class="h-screen ">
  <header class="relative bg-cover w-full h-1/4 bg-center" style="background-image:linear-gradient(180deg, rgba(3, 10, 3, 0.64) -6.12%, rgba(3, 10, 3, 0) 122.24%), url('<%= @workshop.image_url %>');">
    <div class="w-full ">
      <%= render "shared/transparent_navbar" %>
    </div>
    <div class="bg-white absolute z-50 -bottom-0 px-8 py-6 rounded-t-xl" style="left:40%; width:40%">
      <h1 class="h3 mt-2 text-clover-900">
        <%= @workshop.name %>
      </h1>
      <p class="mt-1">Avec<span class="font-medium"> <%= @workshop.user.full_name %></span></p>
      <div class="w-5/6 mx-auto absolute bottom-0 border border-b "></div>
    </div>
  </header>

  <main class="relative linear-background">
    <div class="w-1/4 absolute mt-24 flex flex-col" style="left:10%;">
      <div class="flex items-center justify-start">
        <%= render_svg "icons/calendar", styles:"h-4 w-4" %>
        <p class="font-semibold ml-4"><%= l(@workshop.start_date, format: '%d %B %Y - %Hh%M' ) %></p>
      </div>
      <div class="flex mt-4 items-center justify-start">
        <%= render_svg "icons/location", styles:"h-4 w-4" %>
        <p class="font-semibold ml-4"><%= @workshop.address %></p>
      </div>
      <div class="flex mt-4 items-center justify-start">
        <%= render_svg "icons/clock", styles:"h-4 w-4" %>
        <p class="font-semibold ml-4"><%= @workshop.duration % 7 == 0 ? "1 journée" : "1/2 journée" %></p>
      </div>
      
      <div class="mt-24">
        <p class="text-lg font-semibold ">Places disponibles: <%= @workshop.capacity - @workshop.users.size %></p class="text-lg ">
        <p class="mt-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
      </div>

    </div>

    <div class="bg-white absolute -top-1 px-8 py-6 rounded-b-xl shadow" style="left:40%; width:40%">
      <h3 class="mt-2 ">Au programme</h3>
      <p class="text-base mt-4  text-gray-500">
        <%= @workshop.body %>
      </p>
      <h3 class="mt-8">À la fin vous repartez avec:</h3>
      <p class="text-base mt-4 text-gray-500">
        <%= @workshop.value_added %>
      </p>
      <div class="mt-8">
        <%= link_to "S'inscrire", workshop_workshop_bookings_path(@workshop), method: :post, class: "btn btn-primary btn-expanded"   %>
      </div>
    </div>
  </main>

</div>
<main>
  <div class="w-full bg-white shadow border-white border-b-2 py-8 px-4 sm:px-6 lg:px-8">
      <h1 class="h2 mt-2 text-clover-800">
        <%= @workshop.name %>
      </h1>
      <div class="mt-4 flex items-center">
        <div class="flex-shrink-0">
          <a href="#">
              <% if @workshop.user.avatar.attached? %>
                <%= cl_image_tag @workshop.user.avatar.key, class: "rounded-full h-10 w-10" %>
              <% else %>
                <img src="https://eu.ui-avatars.com/api/?rounded=true&name=<%= @workshop.user.first_name  + @workshop.user.last_name%>" class="rounded-full h-10 w-10">
              <% end %>
          </a>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">
            <a href="#" class="hover:underline">
              <%= @workshop.user.full_name %>
            </a>
          </p>
          <div class="flex space-x-1 text-sm text-gray-500">
            <p>
              Cofounder
            </p>
            <span aria-hidden="true">
              &middot;
            </span>
            <span>
              UX/UI Designer
            </span>
          </div>
        </div>
      </div>
  </div>

  <div class="px-4 py-12 grid grid-cols-5 gap-4 sm:px-6 lg:px-8">
    <div class="h-full col-span-3">
      <div class="flex-shrink-0">
        <img class="h-64 w-full rounded-xl object-cover" src="<%= @workshop.image_url%>" alt="">
      </div>
      <h3 class="mt-8 ">Au programme</h3>
      <p class="text-base mt-4  text-gray-500">
        <%= @workshop.body %>
      </p>
      <h3 class="mt-8">À la fin vous repartez avec:</h3>
      <p class="text-base mt-4 text-gray-500">
        <%= @workshop.value_added %>
      </p>
      <div class="mt-8">
        <%= link_to "S'inscrire", workshop_workshop_bookings_path(@workshop), method: :post, class: "btn btn-primary btn-expanded"   %>
      </div>
    </div>
    <div class="col-span-2 px-8 ">
      <div class="bg-white  py-4 shadow rounded-md">
        <div class="flex py-2 px-4 items-center justify-start w-full">
          <%= render_svg "icons/time", styles:"h-6 w-6" %>
          <p class="font-normal ml-4 text-lg ">
            <%= l(@workshop.start_date, format: '%d %B %Y %T' ) %>
          </p>
        </div>
        <div class="flex mt-2 px-4 items-center justify-start w-full">
          <%= render_svg "icons/home", styles:"h-6 w-6" %>
          <p class="font-normal ml-4 text-lg ">
            <%= @workshop.address %>
          </p>
        </div>
        <div class="flex mt-6 px-4 items-center justify-start w-full">
          <%= render_svg "icons/timer", styles:"h-6 w-6" %>
          <div class="text-left ml-4 ">
            <span class="px-3  py-0.5 rounded-full text-sm font-medium bg-pink-100 text-pink-800">
              <%= @workshop.duration % 7 == 0 ? "1 journée" : "1/2 journée" %>
            </span>
          </div>
        </div>
      </div>

      <div class="bg-white mt-24 py-4 shadow rounded-md">
        <div class="flex flex-col px-4 items-start justify-center w-full">
          <p class="h4 ml-4 ">
            Nb de places restantes:  <span class="h3"><%= @workshop.capacity - @workshop.users.size %></span>
          </p>          
        </div>
      </div>

      <div class="bg-white mt-24 py-4 shadow rounded-md">
        <div class="flex items-center justify-around">
          <% if current_user && current_user.admin? %>
            <%= link_to "Edit Workshop", edit_workshop_path(@workshop), class:"btn btn-secondary"  %>
            <%= link_to "destroy Workshop", workshop_path(@workshop), class:"btn btn-danger ml-2", method: :delete, data: { confirm: t("are_you_sure") }  %>
          <% end %>
        </div>        
      </div>
    </div>
  </div>
</main>






