<% content_for :meta_title, "#{@workshop.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @workshop.body %>
<% content_for :meta_image, @workshop.image_url %>

<% locales = { 
  #path: "pages.landing_workshops",
  colors: {
    logo_color: "white",
    # primary_background: "goldish-300",
    # secondary_background: "white",
    # primary: "roman",
    # text: "clover-600",
    # title: "clover-700",
    # primary_button: "btn btn-primary",
    # hero_text: "hippie-500"
  },
  #hero_right_content: "entrepreneur_video"
} %>



<header class="bg-cover h-72 bg-center" style="background-image:linear-gradient(180deg, rgba(3, 10, 3, 0.64) -6.12%, rgba(3, 10, 3, 0) 122.24%), url('<%= @workshop.image_url %>');">
  <div class="px-4 lg:px-8 max-w-7xl mx-auto">
    <%= render "shared/white_navbar", locales: locales %>
  </div>
</header>


<main class="flex flex-col items-center justify-center mx-auto px-4 lg:px-8 max-w-7xl ">
  <div class=" items-center" style="min-width:75%">
    <div class="grid-cols-5 mx-auto  grid w-full">
      <div class=" flex flex-col py-24 col-span-2 pr-24" style="">
        <div class="flex items-center justify-center py-4 border-2 rounded-xl w-1/2 border-red-500">
          <p class="text-roman-500 font-extrabold h2">0€</p>
          <p class="text-roman-500 ml-4 text-center font-semibold text-2xl line-through	"><%= @workshop.price %>HT</p>
        </div>


        <h3 class="h4 mt-8">
          <%= t(".next-date") %>
        </h3>
        <div class="mt-4 flex items-center justify-start">
          <%= render_svg "icons/calendar", styles:"h-4 w-4" %>
          <p class="font-semibold ml-4"><%= stringify_workshop_date(@workshop) %></p>
        </div>
        <div class="flex mt-4 items-center justify-start">
          <%= render_svg "icons/location", styles:"h-4 w-4" %>
          <p class="font-semibold ml-4"><%= @workshop.address %></p>
        </div>
        <div class="flex mt-4 items-center justify-start">
          <%= render_svg "icons/clock", styles:"h-4 w-4" %>
          <p class="font-semibold ml-4"><%= stringify_workshop_duration(@workshop) %> <%= t("workshops.day") %></p>
        </div>
        
        <div class="mt-24 ">
          <p class="text-lg font-semibold ">
            <%= t("workshops.available-seats.title") %>: <%= @workshop.capacity - @workshop.users.size %>
          </p class="text-lg ">
          <p class="mt-2">
            <%= t("workshops.available-seats.description") %>
          </p>
        </div>
      </div>
      <div class="bg-white px-16 py-12 rounded-xl shadow col-span-3 -mt-32" >
        <h1 class="h3 mt-2 text-clover-900">
          <%= @workshop.name %>
        </h1>
        <p class="mt-1">
          <%= t("with") %><span class="font-medium"> <%= @workshop.user.full_name %></span>
        </p>
        <hr class="w-full my-8 mx-auto">
        <h3 class="mt-2 ">
          <%= t(".syllabus") %>
        </h3>
        <p class="text-base mt-4  text-gray-500">
          <%= @workshop.body %>
        </p>
        <h3 class="mt-8">
          <%= t(".benefits") %>:
        </h3>
        <p class="text-base mt-4 text-gray-500">
          <%= @workshop.value_added %>
        </p>
        <div class="mt-8">
        <% if current_user && current_user.workshop_bookings.where(workshop: @workshop).present? %>
          <p class="font-semibold text-roman-500">Vous êtes inscrit</p>
        <% else %>
          <%= link_to "Postuler", workshop_workshop_bookings_path(@workshop), method: :post, class: "btn btn-primary btn-expanded" %>
        <% end %>
        </div>
      </div>
    </div>

    <section class="mt-24">
      <hr class="bg-clover-800 w-5/6 mx-auto">
      <h3 class="mt-12 text-center">
        <%= t("workshops.other") %>
      </h3>
      <div class="pt-16 pb-32 grid grid-cols-2 gap-8 w-4/6 mx-auto">
        <% @workshops.each_with_index do |workshop, index| %>
          <%= render "workshops/card", { workshop: workshop, index: index} %>
        <% end %>
      </div>
    </section>

  </div>
</main>
































<!-- -->







