<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3 text-gray-400">
        <%= link_to "Pitches", entrepreneur_project_pitches_path %> ><span
          class="text-aquamarine-500"
        >
          Pitch #<%= @pitch.id %></span
        >
      </h1>
      <%= link_to t("edit"), edit_entrepreneur_project_pitch_path, class: "btn btn-link"
      %>
    </div>

    <div class="bg-gray-900 rounded shadow p-8">
        <div class="">
          <div class="rounded flex flex-col max-w-2xl mx-auto items-center justify-center bg-gray-900">
              <% if @pitch.video.key %>
                <%= cl_video_tag(@pitch.video.key, :loop => true, :controls => true,
                  :transformation => [
                    :crop=>"pad", :background => "#F3F4F6",
                    :quality=>70]) %>
              <% else %>
                <%= link_to "upload une video", edit_entrepreneur_project_pitch_path, class: "btn btn-link"%>
              <% end %>

            <div class="max-w-xl mt-2">
              <h2 class="h3 text-gray-100"><%= @project.name.capitalize %></h2>
              <p class="text-gray-300 mt-2"><%= @project.description %></p>
            </div>
            <div class="mt-10 mb-8 w-8/12 flex justify-around items-center ">
              <%= link_to "Voir les pitchs", entrepreneur_project_pitches_path(@project), class: 'btn btn-primary btn-expanded mr-4' %>
              <%= link_to "Créer un pitch", new_entrepreneur_project_pitch_path(@project), class:'btn btn-primary btn-expanded ml-4' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>