<div class="mt-8 h-screen max-w-2xl mx-auto text-center flex flex-col items-center justify-start">
  <h1 class="mb-2 text-white text-2xl"><%= current_user.first_name %> vous êtes sur le point d'investir dans <span class="text-aquamarine-500"><%= @project.name.capitalize %></span></h1>
  <div class="mt-8 text-xl">
    <p class="mb-6 text-gray-400 leading-normal">Vous avez sur votre compte:</p>
    <p class="text-aquamarine-500 font-bold"><%= current_user.balance %> €</p>
  </div>

  <div data-controller="investment" class="mt-8 text-xl">
    <div class="flex flex-col m-auto text-center">
      <p class="leading-normal text-gray-400">Quel montant souhaitez vous investir ?</p>

      <input data-investment-target="amount" data-action="input->investment#change" class="mt-4 bg-white" type="range" min="10000" max="500000" step="10000">
      <div class="w-44 mx-auto mt-4">
        <div class="mt-1 rounded-md shadow-sm">
      <%= form_with(model: [@project,@investment]) do |form| %>
          <%= form.number_field :amount, 
          data: { investment_target:"amountField"},
          placeholder: "250000 €",
          min: "10000",
          max: "500000",
          class: "h-8 text-aquamarine-500 bg-gray-900" %>
          <%# <input data-investment-target="amountField" type="number" placeholder="250000" min="10000" max="500000" step="10000" class="h-8 text-aquamarine-500 bg-gray-900" placeholder="0.00" aria-describedby="price-currency"> %>
        </div>
      </div>
    </div>
  
  <div class="mt-12">
      <%= render "shared/error_messages", resource: form.object %>
    <div class="flex  items-center justify-center text-center">
      <div class="form-group flex justify-between">
        <%= form.button class: "btn btn-primary" %>
      </div>
    </div>
      <% end %>
</div>