<% locales = { 
  #path: "pages.landing_workshops",
  colors: {
    logo_color: "white",
    # primary_background: "goldish-300",
    # secondary_background: "white",
    # primary: "roman",
    # text: "clover-600",
    # title: "clover-700",
    # primary_button: "btn btn-primary",
    # hero_text: "hippie-500"
  },
  #hero_right_content: "entrepreneur_video"
} %>

<% content_for :form_block do %>
  <div class="mb-4 text-center text-clover-700">
    <h2 class="mb-1"><%= t('sign_up') %></h2>
      <p><%= t("or") %> <%= link_to t("sign_in"), new_session_path(resource_name), class: "font-semibold text-roman-500" %></p>
  </div>

  <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.label :first_name, "Prénom" %>
      <%= f.text_field :first_name, autofocus: true, placeholder: "Richard", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, "Nom" %>
      <%= f.text_field :last_name, placeholder: "Hendrix", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email,placeholder: "richard@piedpiper.com", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, "Téléphone" %>
      <%= f.telephone_field :phone_number, placeholder: "06 42 42 42 42",class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>
      <% if @minimum_password_length %>
        <p class="mt-3 text-sm text-gray-600">(<%= @minimum_password_length %> characters minimum)</p>
      <% end %>
    </div>

    <div class="form-group">
      <%#= f.label :language, "langage" %>
      <%#= f.select :language, User.language_list,{ selected: User.language_list.second}, {class: "select"} %>
    </div>

    <div class="form-group">
      <%= f.submit t('.sign_up'), class:"btn btn-primary btn-expanded", data: { disable_with: t(".submitting") } %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>

<%= render "devise/shared/form_block" %>
