<%= form_with(model: [project,pitch]) do |form| %>
<%= render "shared/error_messages", resource: form.object %>
<div class="form-group">
  <%= form.label "titre" %>
  <%= form.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :video %>
  <%= form.file_field :video,direct_upload: true, class: "form-control" %>
</div>

<div class="form-group flex justify-between">
  <%= form.button class: "btn btn-primary" %>

  <% if form.object.persisted? %>
  <%= link_to "supprimer", form.object, class: "btn btn-danger outline", method: :delete, data: { confirm: t("are_you_sure") } %>
  <% end %>
</div>
<% end %>