  <section class="mt-12">
    <div class="bg-<%= locales[:colors][:primary_background]%>">
      <div class="max-w-7xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <h2 class="tracking-tight ">
          <span class="block text-3xl sm:text-4xl font-bold text-<%= locales[:colors][:title]%>"><%= t("#{locales[:path]}.cta.title") %></span>
          <span class="block text-xl sm:text-2xl font-medium text-<%= locales[:colors][:text]%>"><%= t("#{locales[:path]}.cta.description") %></span>
        </h2>
        <div class="mt-8 flex justify-center">
          <div class="inline-flex rounded-md shadow">
            <div class="">
              <%= link_to t("#{locales[:path]}.cta.cta-primary"), new_user_registration_path, class: "#{locales[:colors][:primary_button]} lg:mr-4 mr-0 lg:mb-0 mb-4" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>