  <section>
    <div class="bg-<%= locales[:colors][:secondary_background]%>">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
        <div>
          <h2 class="text-base font-semibold text-<%= locales[:colors][:primary]%>-500 uppercase tracking-wide">
            <%= t("#{locales[:path]}.why.over-title") %>
          </h2>
          <p class="mt-2 text-3xl font-extrabold text-<%= locales[:colors][:title]%>">
            <%= t("#{locales[:path]}.why.title") %>
          </p>
          <p class="mt-4 text-lg text-<%= locales[:colors][:text]%>">
            <%= t("#{locales[:path]}.why.description") %>
          </p>
        </div>
        <div class="mt-12 lg:mt-0 lg:col-span-2">
          <dl class="space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:grid-rows-4 sm:grid-flow-col sm:gap-x-6 sm:gap-y-10 lg:gap-x-8">
            <% t("#{locales[:path]}.why.features").each do |feature| %>
              <div class="relative">
                <dt>
                  <!-- Heroicon name: outline/check -->
                  <svg class="absolute h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg>
                  <p class="ml-9 text-lg leading-6 font-medium text-<%= locales[:colors][:title]%>">
                    <%= feature[:title] %>
                  </p>
                </dt>
                <dd class="mt-2 ml-9 text-base text-<%= locales[:colors][:text]%>">
                  <%= feature[:description] %>
                </dd>
              </div>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
  </section>