  <div class="bg-<%= locales[:colors][:primary_background] %>"> 
    <div class="pt-10 mx-auto max-w-7xl px-6 mx-auto sm:pt-12 lg:pt-24">
      <div data-controller="type" class="sm:text-center md:max-w-2xl md:mx-auto md:my-auto ">
        <h1 class="mt-1 block text-4xl font-extrabold sm:text-5xl xl:text-5xl text-<%= locales[:colors][:hero_text]%>">
          <%= t("#{locales[:path]}.hero-section.title_html") %>
        </h1>
        <p class="mt-3 text-base sm:mt-5 sm:text-xl lg:text-lg xl:text-xl text-<%= locales[:colors][:primary_title] %>">
          <%= t("#{locales[:path]}.hero-section.tagline") %>
        </p>
      </div>
      <div class="py-12">
        <div class="max-w-xl mx-auto text-center lg:max-w-7xl">
          <dl class="items-start grid grid-cols-2 gap-8 lg:grid-cols-4 lg:gap-8">
            <% t("#{locales[:path]}.hero-section.features").each_with_index do |element, index| %>
              <div class="">
                <dt>
                  <div class="flex mx-auto text-center items-center justify-center h-12 w-12 rounded-md  text-white">
                    <!-- Heroicon name: outline/globe-alt -->

                    <div data-controller="lottie">
                      <lottie-player class="lottie-check" id="check-<%= index %>" data-action="click->lottie#open"

                        mode="normal"
                        src="<%= asset_path("check.json") %>"
                        style="width: 4rem;"
                      ></lottie-player>
                    </div>
                  </div>
                  <p class="mt-5 text-lg leading-6 font-medium text-clover-800">
                    <%= element[:title] %>
                  </p>
                </dt>
                <dd class="mt-2 text-base text-clover-800">
                  <%= element[:description] %>
                </dd>
              </div>
            <% end %>
          </dl>
        </div>
      </div>
      <div class="mt-8 sm:max-w-lg sm:mx-auto sm:text-center">
        <div class="mt-5 sm:mt-8 flex justify-center items-center ">
          <div class="">
            <%= link_to t("#{locales[:path]}.hero-section.cta-primary"), new_user_registration_path, class: "#{locales[:colors][:primary_button]} mb-4" %>
          </div>
        </div>
      </div>
    </div>

    <div class="divide pt-24">
      <%= render_svg "waves_divider", styles: "" %>
    </div>

  </div>


</div>