<% locales = { 
  path: "pages.landing_workshops",
  colors: {
    #logo_color: "red-500",
    primary_background: "goldish-300",
    secondary_background: "white",
    primary: "roman",
    text: "clover-600",
    title: "clover-700",
    primary_button: "btn btn-primary",
    hero_text: "hippie-500"
  },
  hero_right_content: "entrepreneur_video"
} %>



<header class="bg-goldish-300">
    <!-- hero-section  -->  
    <div class="lg:px-8 px-4">
      <%= render "shared/navbar", locales: locales %>
    </div>
  <%= render "pages/shared/hero_section_without_image", locales: locales %>
</header>

<main class="max-w-7xl mx-auto px-4 lg:px-8">
  <section class="pb-12">
    <div class="relative linear-background  pt-16 pb-20  lg:pt-20 lg:pb-28 ">
      <div class="absolute inset-0">
        <div class=" linear-background h-1/3 sm:h-2/3"></div>
      </div>
      <div class="relative max-w-7xl mx-auto">
        <div class="text-center">
          <h2 class="text-base font-semibold tracking-wider text-<%= locales[:colors][:primary]%>-500 uppercase">
            <%= t(".how.overtitle") %>
          </h2>
          <p class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
            <%= t(".how.title") %>
          </p>
          <p class="mt-3 max-w-4xl mx-auto text-xl text-gray-500 sm:mt-4">
            <%= t(".how.description") %>
          </p>
        </div>
        <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
          <% @workshops.each_with_index do |workshop, index| %>
          <div class="flex flex-col rounded-lg shadow overflow-hidden">
            <div class="flex-shrink-0">
              <div class="relative h-48 w-full bg-center bg-cover" style="background-image: url('<%= workshop.image_url %>');">
                <div class="absolute left-1/2" style="top:11.25rem;">
                  <span class="relative -left-1/2 px-3 py-0.5 rounded-full text-sm font-medium bg-roman-500 text-white">
                    <%= workshop.duration % 7 == 0 ? "1 journée" : "1/2 journée" %>
                  </span>
                </div>
              </div>
            </div>
            <div class="flex-1 bg-white px-6 py-10 flex flex-col justify-between">
              <div class="flex-1">
                <%= link_to workshop_path(workshop), class:"block mt-2"  do %>
                  <p class="text-xl font-semibold text-gray-900">
                    <%= workshop.name %>
                  </p>
                  <p class="mt-3 text-base text-gray-500">
                    <%= workshop.value_added %>
                  </p>
                <% end %>
              </div>
              <div class="mt-6 flex justify-center w-full items-center">
                <div class="">
                  <%= link_to "En savoir plus", workshop_path(workshop), class:"btn btn-primary outlined" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <%#= render "pages/shared/cta", locales: locales %>

  <!-- pricing 2 -->
  <%#= render "pages/shared/single_price", locales: locales %>
</main>
<%#= render partial: "shared/footer" %>