<% path = "pages.landing_pitch_app" %>

<header class="">
    <!-- hero-section  -->
  <%= render "pages/shared/entrepreneur_hero_section", path: path %>
</header>

<main>
  <!-- grid  -->
  <%= render "pages/shared/grid", path: path %>

  <!-- features  -->
  <%= render "pages/shared/features", path: path %>


  <!-- CTA -->
  <%= render "pages/shared/cta", path: path %>
  
  <!-- why -->
  <%= render "pages/shared/features_list", path: path %>

  <!-- pricing 2 -->
  <%= render "pages/shared/pricings", path: path %>

  <!-- FAQ -->
  <%= render "pages/shared/faq", path: path %>

</main>

<%= render partial: "shared/footer" %>