<div class="h-screen relative text-white text-center mx-auto" data-controller="swiper">
  <div class="swiper-container max-w-5xl">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper mb-12">
      <!-- Slides -->
      <% @projects.each do |project| %>
        <div class="swiper-slide">
          <div class="">
            <div class="my-8">
              <h2 class="text-xl"><%= project.name.capitalize %></h2>
            </div>
            <div class="flex items-center justify-center w-screen mx-0 px-0 ">
            <% if project.publishable_pitch %>
              <% if project.publishable_pitch.video.key %>
                <%= cl_video_tag(project.publishable_pitch.video.key, :loop => true, :controls => true,
              :transformation => [
                :crop=>"pad",
                :quality=>70, :duration=>"10"])  %>

              <% else %>
                <p>Sorry there is a problem</p>
              <% end %>
              <% end %>
            </div>
          </div>
          <div class="mt-8 flex flex-row items-center justify-around">
            <%= link_to project_path(project) do  %>
              <svg class="h-16 w-16 text-aquamarine-500" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg>
            <% end %>
            
            <div>
              <%= link_to "detail", project_path(project), class:"py-2 px-6 text-gray-800 text-xl font-bold bg-white rounded-full"%>
            </div>
            <%= link_to project_path(project) do  %>
              <svg class="h-16 w-16 text-danger-500" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
    <!-- If we need pagination -->
    <%# <div class="swiper-pagination pt-4 border-none shadow-none"></div> %>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev top-16 text-xs font-light w-2 h-2"></div>
    <div class="swiper-button-next top-16 w-2 h-2"></div>

    <!-- If we need scrollbar -->
  </div>
</div>
