<div>
  <% if @project.publishable_pitch.video.key %>
    <%= cl_video_tag(@project.publishable_pitch.video.key, :loop => true, :controls => true,
  :transformation => [
    :height=>375, :width=>375, :crop=>"pad",
    :quality=>70, :duration=>"10"])  %>

  <% else %>
    <%= link_to "upload une video", edit_entrepreneur_project_pitch_path, class: "btn btn-link"%>
  <% end %>
</div>
<div class="m-4">
  <h1 class="text-white text-xl"><%= @project.name %></h1>
  <p class="text-xl text-gray-400">by <%= @project.user.full_name %></p>
</div>

<div class="flex justify-around items-center">
  <%= render "shared/top-level-buttons", project: @project %>             
</div>
<div class="m-4 text-white">
  <p><%= @project.description %></p>
</div>
<% if current_user != @project.user %>
  <div class="flex items-center justify-center mt-16">
    <%= link_to "Investir dans #{@project.name}", new_project_investment_path(@project), class:"btn btn-primary" %>
  </div>
<% end %>