<div class="px-4 py-4 text-center md:text-left my-8 md:py-8 max-w-6xl mx-auto">
  <div class="px-4 relative md:flex md:items-center md:justify-between bg-white shadow rounded-xl py-4 md:px-12">
    <div>
      <h1 class="text-clover-700 h2"><%= t(".hi") %> <%=  current_user.first_name %>!</p>
      <p class="text-smoke mt-2 font-medium "><%= @project.name %></p>
    </div>
    <div class="mt-4 md:mt-0">
      <%= link_to t("buttons.discover-jungle"), projects_path, class:"btn btn-primary" %>
      <%= link_to t("buttons.see-my-profile"), edit_user_registration_path(current_user), class:"btn btn-primary outline ml-4" %>
    </div>
    <div class="absolute transform rotate-90 -bottom-32 right-24 md:rotate-90 md:-bottom-24 md:-right-12" style="z-index:-1;">
      <%= render_svg "leaf_corner_right", styles:"w-full" %>
    </div>
  </div>

  <div class="lg:grid relative lg:grid-cols-3 lg:gap-12 mt-12 items-end">
    <div class="bg-white px-2 rounded-xl shadow py-8 md:px-12 lg:col-span-2" >
      <h2 class="text-clover-700"><%= t("step", number: 3) %></h2>
      <p class="mt-2 text-clover-600"><%= t(".step-subtitle") %>?</p>
      <div class="py-8">
        <div>
          <h6><%= t(".question-1") %>?</h6>
          <p class="mt-2"><%= t(".answer-1") %></p>
        </div>
        <div class="mt-8">
          <h6><%= t(".question-2") %>?</h6>
          <p class="mt-4"><%= t(".answer-2") %>: <span class="text-clover-500 font-medium px-2 py-1 border border-clover-500 rounded-sm">#<%= @project.channel_id %></span></p>
          <p class="mt-4"><%= t(".join-slack") %></p>
        </div>

        
      </div>
      <div class="flex justify-center items-center md:justify-start text-center">
          <%= link_to "https://yoopitch.slack.com/", class: 'btn btn-primary' do %>
            <i class="fab fa-slack text-xl"></i>
            <p class="text-white ml-2 text-md font-bold"><%= t(".join-slack-button") %></p>
          <% end %>
          <%= link_to t(".next-step"), entrepreneur_project_congrats_path(@project), class:"btn btn-primary ml-4 outline" %>
      </div>
      <div class="absolute hidden md:block md:transform-none md:-bottom-10 md:-left-16" style="z-index:-1;">
        <%= render_svg "leaf_corner_left", styles:"w-full" %>
      </div>
    </div>

    <div class="mt-4 relative md:mt-0 py-8 bg-white rounded-xl shadow py-8 px-12 lg:col-span-1">
      <div class="absolute hidden md:block -top-32 right-0" style="z-index:1;">
        <%= render_svg "parot", styles:"w-full" %>
      </div>
      <h3 class="text-clover-700 h4"><%= t(".help_html") %></h3>
      <p class="text-clover-700 mt-8"><%= t(".help-explainer") %></p>
    </div>
  </div>
</div>