<% content_for :sidebar_block do %>
  <div class="container mx-auto my-8 px-4">
    <div class="max-w-3xl mx-auto">
      <div class="flex flex-col justify-between items-center mb-4">
        <h1 class="h3 text-gray-900">Créer votre projet</h1>
        <p class="text-gray-600">(vous pourrez changer ces infos plus tard 😉 )</p>
      </div>

      <div class="bg-gray-800 rounded shadow p-8">
        <%= form_with(model: @project, url: entrepreneur_projects_path) do |form| %>
          <%= render "shared/error_messages", resource: form.object %>
          <div class="form-group">
            <%= form.label "nom de votre projet" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :description, "Votre tagline (50-150 mots)" %>
            <%= form.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :target, "La cible de votre projet" %>
            <%= form.text_area :target, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :pain, "La problématique de votre cible" %>
            <%= form.text_area :pain, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :solution, "Votre solution" %>
            <%= form.text_area :solution, class: "form-control" %>
          </div>
          <div class="form-group flex mt-12 justify-center">
            <%= form.button class: "btn btn-primary btn-expanded" %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "entrepreneur/shared/sidebar_block", nav_page: "projects" %>